/* Global styles */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Assistant';
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

h1,
h2,
h3 {
    font-weight: 700;
}

.button-flex {
    white-space: nowrap;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 10px 0;
}

.button-flex>a>button {
    width: 100%;
}


/* Site Header and Navbar */
.page-header {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    box-shadow: 0px 2px 20px #121212;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.page-header>nav>ul {
    display: none;
    gap: 0.5rem;
    padding: 5px;
}

.page-header li {
    list-style: none;
}

.page-header>.name {
    font-family: 'Kaushan Script';
}

.side-heb>.page-header>.name {
    margin-right: auto;
}

.page-header>img {
    width: 50px;
    border-radius: 50%;
}

.page-header ul li a {
    text-decoration: none;
    color: #343434;
    transition: color 1s transform 1s;
}

.page-header ul li:hover a {
    color: #2ce0ea;
    transform: scale(1.1);
}

/* main content header */

.main-header,
.contact {
    aspect-ratio: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/bg.jpeg");
    background-size: 100% 100%;
    background-color: #B3F3F7;
    background-blend-mode: multiply;
}


.main-header h1,
.main-header p {
    z-index: 1;
    text-align: center;
}

/* Technologies */
.technologies {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 6px #B6B6B6;
}

.technologies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.technologies ul li {
    list-style: none;
}

.technologies ul li img {
    border-radius: 50%;
    width: 3rem;
    transition: width, 1s;
}

/* About me */
.about-me {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me>div {
    text-align: center;
    padding: 0 10px;
}

.about img {
    width: 60%;
}

/* Download CV */
.cv {
    background-color: #2e2e2e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.cv>img {
    width: 30%;
    transform: scale(0.8) rotateZ(-20deg);
}

.cv-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.cv-inner>p {
    margin-top: 0;
    text-align: center;
}

.cv-inner>a {
    border-radius: 20px;
    color: #2e2e2e;
    text-decoration: none;
}

#download-cv {
    border-radius: 20px;
    border: none;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: #2ce0ea;
    cursor: pointer;
}

#download-cv:hover {
    background-color: #26c0c8;
}

#download-cv:active {
    transform: scale(0.95);
}

#download-cv>img {
    max-width: 32px;
    display: inline-block;
}

/* Gallery of jobs */

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    padding: 20px 0;
}

.gallery-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


/* cards */
.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(65%, 340px);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 10px #e0e0e0;
    padding-bottom: 10px;
    transition: box-shadow 1s;
}

.card:hover {
    box-shadow: 0 0 40px hsl(0 0% 0% / 0.4);
}

.card>img {
    width: 100%;
}

.card>p {
    text-align: center;
}

.card button,
.page-header>button {
    background-color: #2ce0ea;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 5px #252525;
    line-height: 2rem;
    padding: 0 20px;
}

.card button:hover,
.page-header>button:hover {
    background-color: #26c0c8;
}

.card button:active,
.page-header>button:active {
    transform: scale(0.95);
}

/* Contact */

.contact {
    text-align: center;
    padding: 20px 5px;
}

.contact>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact>form>.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.contact>form label {
    align-self: flex-start;
}

.contact>form input,
.contact>form textarea {
    border-radius: none;
    border: none;
    border-bottom: 2px solid #34343486;
    max-width: 400px;
}

.contact>form>button {
    align-self: flex-start;
    padding: 5px 15px;
    border: none;
    background-color: #2ce0ea;
    font-weight: 600;
}

/* ref links */

.reflinks {
    background-color: #383838;
}

.eng {
    direction: ltr;
}

.reflinks>nav {
    padding: 30px 0;
}

.reflinks>nav>ul>li {
    text-align: center;
    list-style: none;
    min-width: 45%;
    max-width: 80px;
    flex-basis: 50%;
    margin-bottom: 25px;
}


.reflinks>nav>ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}


.reflinks>nav>ul>li>a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
}

.reflinks>nav>ul>li>a>div>span {
    display: block;
}

.reflinks>nav>ul>li>a img {
    margin-bottom: 20px;
    width: fit-content;
}

/* credits */

.credits {
    background-color: #252525;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/* Media query */
@media only screen and (min-width:400px) {
    .button-flex {
        flex-direction: unset;
    }
}

@media only screen and (min-width:450px) {
    .page-header>nav>ul {
        display: flex;
    }

    .reflinks>nav>ul>li>a>div>span {
        display: unset;
    }

    .reflinks>nav>ul>li {
        flex-basis: 33%;
        min-width: 33%;
    }
}

@media only screen and (min-width:550px) {

    /* main-header */
    .main-header>h1 {
        font-size: 4rem;
    }

    .main-header>p {
        font-size: 1.5rem;
    }

    /* Technologies size */
    .technologies ul li img {
        width: 86px;
    }

    /* About me rearange */
    .about-me {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 20px;
        padding: 0 20px;
    }

    .about-me img {
        width: 30%;
        max-width: 290px;
        align-self: flex-start;
    }

    .about-me>div {
        text-align: start;
    }

    .about-me>div>h2 {
        margin: 0;
        margin-top: auto;
    }

    /* CV Rearrange */
    .cv {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .cv-inner {
        align-items: flex-start;
    }

    .cv-inner>p {
        text-align: start;
    }

    .cv>img {
        width: 20%;
        max-width: 150px;
    }

    /* Gallery */

    .gallery-cards {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        max-width: 1000px;
        gap: 30px;
    }

    .card {
        width: max(40%, 340px);
        max-width: 290px;
    }

    /* Contact */
    .contact {
        padding: 2% 15%;
        align-items: flex-start;
    }

    .contact>p {
        text-align: start;
    }



    /* Credits */

    .credits {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width:750px) {

    /* Reflinks */
    .reflinks>nav>ul>li {
        flex-basis: auto;
        min-width: 0;
        margin-bottom: 0;
    }
}

/* Eng side */
.side-eng>.page-header>.name {
    margin-left: auto;
}

/* Flip Language */


.container {
    transition: transform 0.5s;
    transform-origin: 50% 0%;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition-timing-function: ease-out;
}


.container.eng {
    width: 100%;
    animation-name: langSwitchEng;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.container.heb {
    animation-name: langSwitchHeb;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.side-eng,
.side-heb {
    position: absolute;
    width: 100%;
    background-color: white;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.side-eng {
    transform: rotateY(180deg);
    display: none;
}

@keyframes langSwitchEng {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(0deg) scale(0.8) translateY(50px);
    }

    75% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(180deg) scale(1);
    }
}

@keyframes langSwitchHeb {
    0% {
        transform: rotateY(180deg);
    }

    25% {
        transform: rotateY(180deg) scale(0.8) translateY(50px);
    }

    75% {
        transform: rotateY(0deg);
    }

    100% {
        transform: scale(1);
    }
}