:root {
    --near-white: #F6F6F6;
    --gray: #707070;
    --blue: #020253;
    --dark-gray: #2C2C2C
}

* {
    font-family: Heebo;
}

body {
    margin: 0;
}

.container,
.content,
.input,
.main,
form {
    display: flex;
    flex-direction: column;
}

.main {
    color: var(--blue);
    text-align: center;
}

form {
    gap: 26px;
    margin: 8px;
    align-self: center;
    width: 100%;
}

form label {
    align-self: flex-start;
    font-weight: 700;
    color: var(--dark-gray);
}

form input {
    border: none;
    border-bottom: 4px solid var(--blue);
    background-color: var(--near-white);
    max-width: 417.5px;
}

form button {
    border: none;
    line-height: 3.125rem;
    width: 10.375rem;
    align-self: center;
    background-color: var(--blue);
    color: #fff;
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
    transition: outline .1s, background-color .3s, color .3s;
}

button:hover {
    outline: 4px ridge var(--blue);
    background-color: #fff;
    color: var(--blue);
}

.page-title {
    font-size: 2.6875rem;
    font-weight: 900;
    margin: 20px auto;
}

.explanation {
    font-size: 1.25rem;
    margin-top: 0;
}

.content {
    width: 50%;
    max-width: 450px;
    align-self: center;
    min-width: 20rem;
    align-items: center;
}

@media screen and (min-width:1276px) {
    .container {
        flex-direction: row;
        width: 100%;
    }

    .content {
        display: block;
    }

    .container img {
        margin-right: auto;
        min-width: 50rem;
    }

    .container .main {
        width: 44%;
        min-width: 29.8125rem;
        text-align: start;
        align-items: center;
    }

    .content {
        margin-top: 209px;
        align-content: center;
    }

    form button {
        align-self: flex-start;
    }
}