/* Global styles */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo';
}

:root {
    --red: #F50B33;
}

html,
body,
.container {
    height: 100%;
}

/* layout */
.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    text-align: center;
    overflow: auto;
}

.content {
    padding: 3%;
    margin-top: 20px;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-shrink: 1;
}

img {
    margin-top: auto;
}

/* heading */
h1 {
    font-weight: 900;
}

h1>em {
    font-style: normal;
    color: var(--red);
}

/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 70%;
}

.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-control>input {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--red);
    background-color: #F6F6F6;
}

form>button {
    border: none;
    color: white;
    background-color: var(--red);
    padding: 10px 30px;
}


/* Desktop */

@media only screen and (min-width: 850px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
    }

    img {
        height: 100%;
        max-width: 50%;
        object-fit: cover;
        margin-top: 0;
    }

    .content {
        min-width: 50%;
        padding: 0 15% 0 0;
        align-items: flex-start;
        text-align: right;
    }

    h1 {
        max-width: 250px;
    }

}